<footer>
  <div class="container">
    <p>
      © 2021 Medžuslovjansky (Меджусловјанскы). Licensed under MIT License.
      Built with <a href="https://typedoc.org/" target="_blank">TypeDoc</a>.
    </p>
  </div>
</footer>

<a href="{{settings.githubUrl}}"><img style="position: fixed; z-index: 999; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

